<header id="currLocation">
    You are here - <a href="/">home</a>-&gt;<a href="/publication">publication</a>-&gt;<a href="/publication/view">view</a><br>
    <h1>View Publication For An Author</h1>
</header>
<section id="mainPubAdd">
    <form role="form">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Author name <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {{#each model as |page|}}
                    {{#each page.name as |sub|}}
                    <li><a href="query"> {{sub.name}} </a></li>
                    {{/each}} 
                {{/each}}
            </ul>

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Due Date</span>
            <input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-describedby="basic-addon1">
        </div>
        <br>
        <button type="submit" class="btn btn-danger">View Publication</button>
    </form>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
        {{#each model as |reportObj|}}
            <div class="well well-lg">
                <PRE>Title :                           {{reportObj.title}}</PRE>
                <PRE>Group:                         {{reportObj.group}}</PRE>
                <PRE>Publication Type:    {{reportObj.pupType}}</PRE>
                <PRE>Due Date:                    {{reportObj.dueDate}}</PRE>
                <PRE>State:                             {{reportObj.state}}</PRE>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                    aria-valuenow="{{reportObj.ProgStat}}" aria-valuemin="0" aria-valuemax="{{reportObj.ProgStat}}" style="width:{{reportObj.ProgStat}}">
                    Progress Completed: {{reportObj.ProgStat}}
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

</section>