<header id="currLocation">
	You are here - <a href="/">home</a>-&gt;<a href="/publications">publications</a>-&gt;<a href="/publications/edit/{{model.id}}">edit</a><br>
	<h1>Edit Publication</h1>
</header>
<section id="mainPubAdd">
	<form role="form">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Publication Title </span>
			<input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1" value="{{model.title}}">
		</div>
		<br>
		<!-- <div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Publication Website</span>
			<input type="text" class="form-control" placeholder="www.atsomewebsite.com" aria-describedby="basic-addon1">
		</div> -->
		<br>
 		
		<div class="input-group">
			<div class="checkbox">
				<label><input id="checkbox1" type="checkbox">Is Completed</label>
			</div>
		</div>
		<br>
		<div id="notcomplete">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Due Date</span>
				<input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-describedby="basic-addon1" value="{{model.due}}">
			</div>
			<br>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
					Select lifecycle states <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">inProgress</a></li>
					<li><a href="#">Submitted</a></li>
					<li><a href="#">Accepted</a></li>
					<li><a href="#">InRevision</a></li>
					<li><a href="#">Abandoned</a></li>
				</ul>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Progress</span>
				<input type="text" class="form-control" aria-describedby="basic-addon1" value="{{model.progress}}"> <!--Update Progress bar when this changes-->
			</div>
			<div class="progress">
				<div id="progress1" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="value={{model.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{model.progress}}%">
					Progress : {{model.progress}}%
				</div>
			</div>
		</div>
		<br>
		<div class="panel panel-default">
			<div class="panel-heading">Collaborators</div>
				<div class="panel-body">
					<section>
						<div class="list-group" id="listUsersOutput"></div>
						<div class="panel-body">
							<div class="form-group">
								<!-- {{#each model as |page|}}
									{{#each page.name as |sub|}}
									<a href="#" class="list-group-item">{{sub.name}}</a>
									{{/each}}
								{{/each}} -->
								<a href="#" class="list-group-item">TEMP COLLABORATOR</a>
							</div>
						</div>

					</section>
				</div>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle marginLeft" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Add Collaborator <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<!-- {{#each model as |page|}}
						{{#each page.name as |sub|}}
						<li><a href="query"> {{sub.name}} </a></li>
						{{/each}}
					{{/each}} -->
					<a href="#" class="list-group-item">TEMP COLLABORATOR</a>
				</ul>
			</div>
			</div>
		<br>
		<!-- add seperate handlebars for dropdown -->
		<br>
		<button type="submit" class="btn btn-danger marginBottom">Add Publication</button>
	</form>

</section>
